{% layout 'layout.liquid' %}

{% block content %}
    <div >
        <form action="/musicapp/{{song._id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit This Song</legend>
                <label>Artist:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="artist" 
                    placeholder="Enter Artist Name"
                    value="{{song.artist}}"
                >
                <label>Title:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="title" 
                    placeholder="Enter Song Title"
                    value="{{song.title}}"
                >
                <label>Genre:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="genre" 
                    placeholder="Enter Genre"
                    value="{{song.genre}}"
                >
                <label>Album:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="album" 
                    placeholder="Enter Album Name"
                    value="{{song.album}}"
                >
                <label>Image:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="image" 
                    placeholder="Enter Image URL"
                    value="{{song.image}}"
                >
                <div class="btn-group">
                    <input type="submit" value="Submit Changes" class="btn btn-success">
                    <a href="/musicapp" class="btn btn-warning">Cancel</a>
                </div>
        </form>
        <form action="/musicapp/{{song._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
{% endblock %}