{% layout 'layout.liquid' %}

{% block content %}
    <div>
        <h1>Songs List</h1>
        <div class="row">
            {% for song in songs %}
                <div class="card" style="width: 18rem">
                    <a href="/musicapp/{{song._id}}" class="btn"><h5 class="card-header">Song: {{song.title}}</h5></a>
                    <div class="card-body">
                        <img src="{{ song.image }}">
                        <h6 class="card-title">Artist: {{song.artist}}</h5>
                        <h6 class="card-title">Genre: {{song.genre}}</h5>
                        <h6 class="card-title">Album: {{song.album}}</h5>
                    </div>
                    <div class="row g-0 align-items-end" id="list-button">
                        <div class="col-sm-8">
                            <form action="/musicapp/create" method="POST">
                                <input type="hidden" name="artist" value={{song.artist}}>
                                <input type="hidden" name="title" value={{song.title}}>
                                <input type="hidden" name="genre" value={{song.genre}}>
                                <input type="hidden" name="album" value={{song.album}}>
                                <input type="hidden" name="image" value={{song.image}}>
                                <label>Select Playlist</label>
                                    <select name="list">
                                        {% for playlist in playlists %}
                                            <option value={{playlist._id}}>{{playlist.name}}</option>
                                        {% endfor %}
                                    </select>
                        </div>
                                <div class="col-sm-4">
                                    <input type="submit" 
                                        value="Add" 
                                        class="btn btn-success btn-sm"
                                        style="width: 50px" 
                                    >                               
                                </div>
                            </form>

                    </div>
                    
                </div>
            {% endfor %}
        </div>
        <a href="/musicapp/new" class="btn btn-info"><h5>Add A Song</h5></a>
    </div>
{% endblock %}