{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <article>
            <img src="{{ song.image }}">
            <h2>Song: {{song.title}}</h2>
            <h3>Artist: {{song.artist}}</h3>
            <h3>Genre: {{song.genre}}</h4>
        <div class="btn-group">
            <a href="/musicapp/{{song._id}}/edit" class="btn btn-primary">Edit Song</a>
        </div>
    </div>
{% endblock %}